@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
body {
  background-color: rgb(248, 238, 220);
}
.caloriesLeft {
  margin-left: 25%;
  height: 10%;
}
h3 {
  text-align: center;
}
.div_container {
  margin-top: 5%;
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-around;
  
  
}
* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
#brand {
  display: inline-block;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}
ul {
  list-style: none;
  font-weight: 0;
}
li {
  display: inline-block;
  margin: 15px;
  transition: all 0.3s ease 0s;
}
.nav_links:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#login {
  cursor: pointer;
  display: inline-block;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

#intro {
  text-align: left;
  
  
}
.introParagraph {
  padding: 10px;
}
.big_Label {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}
.dotted-line {
  border: none;
  border-bottom: 5px dotted #808080;
  width: 100%;
  margin: 20px 0;
}

#createDiv {
  width: 20em;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #2d7ec0;
}

.outer-container {
  margin-left: 10%;
  margin-right: 10%;
  height: 10%;
  width: 80%;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

.inner-container {
  background-color: #4c94c7;
  height: 100%;
  border-radius: 20px;
  width: 25%;
  text-align: center;
  color: #fff;
}
.circle {
  padding: 3%;
  text-align: center;
  margin-top: 2%;
  margin-right: 3%;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#recipes_div {
  width: 20%;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #f3f2f3;
}
.second_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.divTitle{
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: bolder;
  
}
button{
  font-size: large;
  font-weight: bolder;
  border:none;
  border-radius: 50px;
  margin-left: auto ;
  margin-right: auto;
  width: 80%;
  height: 10%;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  

}
button:not([disabled]):hover {
  
  background-color: #ee8d8d;
  color: black;
  cursor: pointer;
  transform: scale(1.05);
}

#joinDiv {
  width: 20em;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #2d7ec0;
}
input{
  font-size: large;
  font-weight: bolder;
  border:none;
  border-radius: 50px;
  margin-left: auto ;
  margin-right: auto;
  width: 80%;
  height: 10%;
  text-align: center;
  transition: transform 0.2s ease-in-out;

}